.top_bar_container {
  @include sectionPadding;
  @include flexPosition(space-between, center);
  gap: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
  background: $color-white;
  border-bottom: 1px solid $color-grey-00;

  .logout {
    @include flexPosition(flex-end, center);
    gap: 10px;
    width: fit-content;
    cursor: pointer;

    .icon {
      @include flexPosition(flex-end, center);
      @include circle(36px, 36px);
      padding: 7px;
      background: $color-grey-02;
    }

    p {
      font-weight: 500;
    }
  }
}
